<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK" version="17.10.40171" targetFramework="native" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.10.2185" targetFramework="native" developmentDependency="true" />
  <package id="Volo.Abp.Guids" version="8.2.0-rc.5" targetFramework="native" />
</packages>